# entorno virtual
discbot/
venv/

# token / secretos
tokendiscord.txt
tokengithub.txt
.env
.env.local

# python
__pycache__/
*.pyc

# json
data/animes_server.json
data/logros_server.json
data/uso_server.json
data/gustos_server.json
data/dropeados_server.json
